{% extends 'core/base.html' %}
{% block title %} {% endblock title %}
{% block content %}
 <div style="text-align:center">
    <h1>Welcome to Free Blog Website</h1>
    {% for blog in blogs  %}
    <hr>
    <h2>Title</h2>
    <h5>{{blog.title}}</h5>
    <h2>Content</h2>
    <h5>{{blog.content}}</h5>
    <h4>{{blog.author.username}} - {{blog.date_posted}}</h4>
    {% if user.is_authenticated %}
    <a href="{% url 'edit' id=blog.id %}"><button class="btn btn-primary">Edit</button></a>
    <a href="{% url 'delete' id=blog.id %}"><button class="btn btn-primary">Delete</button></a>
    {% endif%}
    {% endfor %}

    {% if user.is_authenticated %}
    <br>
    <br>
    
    <a href="{% url 'add' %}"><button class="btn btn-primary">Add</button></a>
    {% endif%}
    
 </div>

 {% endblock content %}